<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Planning Poker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>
<body>
    <div class="js-react-app h100"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

    <%= require('./register-service-workers.ejs')({serviceWorker: htmlWebpackPlugin.options.serviceWorker}) %>
</body>
</html>
